### Data Structures
### Overview

LIST       [ ]

DO NOT NEED TO BE IN THE SAME DATA TYPE IN A SINGLE LIST

In [1]:
a = [10,20.5,"HELLO",]
print(a[1])

20.5

In [2]:
a[1] = 3 #lists are mutable(editable)
print(a)

[10, 3, 'HELLO']

TUPLE   ( )

In [3]:
t = (1,1.5,"HI")
print(t) #CANNOT MODIFY A TUPLE LIKE LISTS

(1, 1.5, 'HI')

In [4]:
print(t[2])

HI

 SET  { }

In [5]:
a = {10,30,30,40,5} //only saves UNIQUE value
print(a)

SyntaxError: ignored

In [8]:
print(type(a))

<class 'list'>

cannot do print(a[4]) you will get error
eg.

In [9]:
print(a[1])

3

DICTIONARY - KEY VALUE PAIR
(MAP IN JAVA) {'key' : "value" }


---

In [10]:
d  = {"a":"apple", 'b' : "bat", 'd' : "dog"}
print(d['a'])
d['b'] = "baby"
print(d)

apple
{'a': 'apple', 'b': 'baby', 'd': 'dog'}

In [11]:
print(d['d'])

dog

In [12]:
user = "George"
lines = 20
print("congrats " + user + "! you have completed "+ str(lines) + " lines of code")

congrats George! you have completed 20 lines of code

In [13]:
a = [1,2,3]
print(type(a))
print(a)
s = set(a)
print(type(s))
print(s)

<class 'list'>
[1, 2, 3]
<class 'set'>
{1, 2, 3}

In [14]:
user = "barcelona"
print(user[4])
l = list(user)
print(l) # break up characters
s = set(user)
print(s) # it doesnt care about order
t = tuple(user) # similar to list
print(t)

e
['b', 'a', 'r', 'c', 'e', 'l', 'o', 'n', 'a']
{'o', 'r', 'e', 'b', 'a', 'l', 'n', 'c'}
('b', 'a', 'r', 'c', 'e', 'l', 'o', 'n', 'a')

### SET CANNOT PRINT INDIVIDUAL VALUES OR EDIT VALUES
### TUPLE CANNOT EDIT VALUES

In [15]:
a = {1,2,3,"hi"}
print("type of a is",type(a))
b = [1,2,"hi",4]
print("type of b is",type(b))
c = (1,"q",3,4)
print("type of c is",type(c))
d = {'1':"one",'2':"two",'3':"three"}
print("type of c is",type(d))
# set cannot print individual values print(a[2])
print(b[1])
print(c[0])
print(d['2'])
b[0] = 9
d[1] = 5

type of a is <class 'set'>
type of b is <class 'list'>
type of c is <class 'tuple'>
type of c is <class 'dict'>
2
1
two