### OUTPUT

In [1]:
print("hello world")

hello world

In [2]:
a = 10
print("the value of a is- "+str(a))

the value of a is- 10

In [3]:
a =5 ; b = 10;
print("values are a:{} and b:{} ".format(a,b))
print("again, we get a:{1} and b:{0}".format(b,a))

values are a:5 and b:10
again, we get a:5 and b:10

In [4]:
print("hello, {name}, {greeting}".format(name = "Sid",greeting = "how are you"))

hello, Sid, how are you

In [5]:
print("the story of {1} and {name} and how they saved {0}".format("brazil","bill",name = "steve"))

the story of bill and steve and how they saved brazil

### **INPUT**

In [8]:
num = input()
print(type(num))
a = input("another method of inputting: ")
print("num is {}".format(num))
print("a is "+str(a))
print(int(num+a)) # since both the values are 'strings' the + will concatenate them together as strings

23
<class 'str'>
another method of inputting: 55
num is 23
a is 55
2355

In [9]:
print("enter 2 numbers to add:")
user1 = int(input())
user2 = int(input())
print(user1 + user2)

enter 2 numbers to add:
34
23
57

In [10]:
print("enter your name: ")
name = input()
course = input("enter your majors: ")
print("Hi, {}! Enjoy your {} majors".format(name, course))

enter your name:
Sid
enter your majors: Computer Science
Hi, Sid! Enjoy your Computer Science majors