### if...elif...else

In [2]:
num = 10
if num == 10:
  print("number is greater")
print("this will always print irrespctive of if/else")

number is greater
this will always print irrespctive of if/else

In [3]:
if 0: # 0,None, False ----> false
  print("number is greater")
print("this will always print irrespctive of if/else")

this will always print irrespctive of if/else

In [4]:
num = 10
if num>0:
  print("number is posistive")
else:
    print("number is negative")
print("thank you")

number is posistive
thank you

In [5]:
num = int(input())
if num>0:
  print("number is posistive")
elif num==0: 
  print("number is 0")
else:
  print("number is negative")
print("thank you")

-9
number is negative
thank you

In [6]:
num = int(input())
if num>=0:
  if num == 0:
    print("zero")
  elif num>0:
    print("positive")
else:
  print("negative")
print("thank you")

40
positive
thank you

In [7]:
print("hello")
num1 = int(input())
num2 = int(input())
num3 = int(input())
if num1>num2 and num1 > num3:
  large = num1
elif num2>num3:
  large = num2
else:
  large = num3
print("thank you, The largest number is: {}".format(large))

hello
6
2
54
thank you, The largest number is: 54

### while

In [8]:
l = [10,20,30,40,30]
product = 1
index = 0
while index<len(l): 
  product = product * l[index]
  index = index + 1
print("product is {}".format(product))

product is 7200000

### while loop with else

In [9]:
number = [1,2,3,4]
index = 0 
while index<len(number):
  print(number[index])
  index = index + 1
else:
  print("ran out of options, mate")
print("thank you")#will display always at the end

1
2
3
4
ran out of options, mate
thank you

In [10]:
print("please enter a number to check if prime or not")
number = int(input())
index = 2
d = False
while index<number:
  if number%index == 0:
    d = True
    print("{0} is divisible by {1}".format(number,index))
  index = index + 1
if d == True:
  print("number is not prime")
elif d==False:
  print("number is prime")
else:
  print("you entered 1")

please enter a number to check if prime or not
67
number is prime

### for

In [11]:
l = [1,2,3,4,5]
product = 1
for e in l:
  product = product * e
print("product is {}".format(product))

product is 120

In [12]:
l = [10,20,30,40,50]
product = 1
for e in l :
  product = product * e
print("product is {}".format(product))

product is 12000000

In [13]:
for i in range(0,10,3):
  print(i)

0
3
6
9

In [14]:
import random
l = ["Messi","Suarez","Neymar","Ronaldo","Stegen","Pique","Bale"]
for i in l:
  print(i)
print("ANOTHER WAY!!!")
for i in range(len(l)):
  print(l[i])

Messi
Suarez
Neymar
Ronaldo
Stegen
Pique
Bale
ANOTHER WAY!!!
Messi
Suarez
Neymar
Ronaldo
Stegen
Pique
Bale

### for loop with else

In [15]:
print("enter lower limit:")
num1 = int(input())
print("enter upper limit:")
num2 = int(input())
print("prime numbers between {0} and {1} are:".format(num1,num2))
for i in range(num1,num2+1):
  if i>1:
    flag = False
    for e in range (2,i):
      if i%e == 0:
        flag = True
    if flag == False:
        print(i)

enter lower limit:
3
enter upper limit:
19
prime numbers between 3 and 19 are:
3
5
7
11
13
17
19

### continue & break

In [16]:
numbers = [1,2,3,4,5,6,7,8,9]
for i in numbers:
  if i == 4:
    break
  else:
    print(i)
else:
  print("i am in the else-for")
print("this will always get printed")

1
2
3
this will always get printed

In [17]:
print("enter any number:")
num = int(input())
for i in range(2,num):
  flag = False
  if num % i == 0:
    print("{} is divisible by {}".format(num,i))
    flag = True
    break
  i = i + 1
if flag == True:
  print("number is not prime")
else:
  print("number is prime")

enter any number:
34
34 is divisible by 2
number is not prime

In [18]:
for i in range(1,20):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19