#List is one of the sequence Data Structure.

*   collection of items
*   enclosed in []
*   each item has an assigned index    value
*   seperated by , 
*   are mutable (editable)
*   can be printed out element-wise

In [1]:
emptyList = []
lst = ['one','two','three','four']  # list of strings
print(lst)

lst2 = [1,2,3,4] # list of integers
print(lst2)

lst3 = ['three',2,1.3]
print(lst3)

lst4 = [[1,2],['three','four']] #list of lists
print(lst4[0])

['one', 'two', 'three', 'four']
[1, 2, 3, 4]
['three', 2, 1.3]
[1, 2]

In [2]:
lst = [1,2,3,4,5]
print(len(lst))

5

insert()

In [3]:
lst = [1,8,4,10,6]
lst.insert(4,'hi') #first parameter is the index number where the insertion should take place
print(lst) 
print(len(lst))

[1, 8, 4, 10, 'hi', 6]
6

remove()

In [4]:
lst = ["soccer","messi","neymar","cristiano","neymar"]
lst.remove("neymar")  # will only remove first occurences
print(lst)
print(len(lst))

['soccer', 'messi', 'cristiano', 'neymar']
4

append()

In [12]:
lst = ['one','two','three','four']
lst2 = ['six']
lst.append(lst2) # added to the end as a LIST
print(lst)

['one', 'two', 'three', 'four', ['six']]

extend()

In [6]:
lst = ['one','two','three','four']
lst2 = [5,6]
lst.extend(lst2)  # added to the end as ELEMENTS
print(lst)

['one', 'two', 'three', 'four', 5, 6]

del

In [7]:
lst = ['one','two','three','four']
print(lst)
del lst[1]
print(lst)
a = lst.pop(2)
print(a)
print(lst)
lst.remove("one")
print(lst)

['one', 'two', 'three', 'four']
['one', 'three', 'four']
four
['one', 'three']
['three']

### keywords in python

In [8]:
lst = ['one','two','three','four','five']
if 'two' in lst:
  print("two is present")
  
if 'six' not in lst:
  print("six is not present")
print("will print this nevertheless")

two is present
six is not present
will print this nevertheless

reverse()

In [9]:
l = [1,2,3,4,5]
print(l)
l.reverse()
print(l)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [10]:
lst1 = [1,2,3,4,5]
lst2 = [6,7,8,9]
lst3 = [10,11,12,13]
lst4 = [14,15,16,17]
lst1.append(lst2)
lst3.extend(lst4)
print(lst1)
print(lst3)
lst1.remove(3)
print(lst1)

[1, 2, 3, 4, 5, [6, 7, 8, 9]]
[10, 11, 12, 13, 14, 15, 16, 17]
[1, 2, 4, 5, [6, 7, 8, 9]]

In [ ]:
lst  = ['a','d','g','b']
lstsrtd = sorted(lst)
print(lstsrtd)
lst2 = [1,2,4,5,0,-4]
print(sorted(lst2))
print(lst2)
lst3 = lst + lst2
print(lst3) 
print(sorted(lst3)) # cannot sort  alphabets and numbers in the same list

['a', 'b', 'd', 'g']
[-4, 0, 1, 2, 4, 5]
[1, 2, 4, 5, 0, -4]
['a', 'd', 'g', 'b', 1, 2, 4, 5, 0, -4]

TypeError: ignored

List having multiple references

In [ ]:
lst = [1,2,3,4,7]
abc = lst.append(6)
print("original lst: ",lst)
print("modified list: ",abc)

original lst:  [1, 2, 3, 4, 7, 6]
modified list:  None

 String Split to create a list

In [ ]:
s = "one,two,three,four,five" # normal string
slst = s.split(',')
print(slst)
t  = " i am learning python"
ts  = t.split() # default is white space or tab
print(ts)
s = "aaabacadaeafag"
slst = s.split('a')
print(slst)

['one', 'two', 'three', 'four', 'five']
['i', 'am', 'learning', 'python']
['', '', '', 'b', 'c', 'd', 'e', 'f', 'g']

List Indexing


*   Each item in the list has an assigned index value starting from 0
*   Accessing these elements is called indexing

In [ ]:
lst = [1,2,3,4]
#print second element
print(lst[1])
#print last element
print(lst[-1]) # or print(lst[len(lst)-1])
#print second last element
print(lst[-2])

2
4
3

List slicing


*   Accessing parts of segements is called slicing
*   [start:end:step]

In [ ]:
numbers = [10,20,30,40,50,60,70,80,90]
print(numbers[:]) #prints all the numbers
print(numbers[0:4]) # from index 0 to index 4 (4 not included) 
print(numbers[4::2]) # alternate index from 4 to end to be printed
print(numbers[0:7:3]) # print elements in indices from 0 to 7, skipping 3

[10, 20, 30, 40, 50, 60, 70, 80, 90]
[10, 20, 30, 40]
[50, 70, 90]
[10, 40, 70]

List 'extend' using +

In [ ]:
lst1 = [1,2,3,4]
lst2 = ["five","six"]
lst3 = lst1+lst2
print(lst3)

[1, 2, 3, 4, 'five', 'six']

counting frequency of elements in the list  
count()

In [ ]:
numbers = [1,1,3,6,71,6,1,5,1]
a = numbers.count(1)
print(a)
lst = ["barcelona","roma","madrid","milan","roma"]
print(lst.count("roma"))

4
2

In [ ]:
#looping thro a list
lst = ['one','two','three','four','five','six']
for el in lst:
  print(el)
#another way
print("-----")
for i in range(0,len(lst),2): #start from 0, go till length, and skip by 2 elements
  print(lst[i])

one
two
three
four
five
six
-----
one
three
five

list comprehension

In [ ]:
#without using list comprehension
squares = []
for i in range(10):
  squares.append(i**2)
print(squares)

[1, 4, 16, 9, 25, 64, 36, 9801]

In [ ]:
#using list comprehension
squares = [i**2 for i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
lst = [-10,-20,10,20,50]
new_lst = [i*2 for i in lst] #double each value
print(new_lst) 
new_lst = [i*2 for i in lst if i>0] #double only positive values
print(new_lst)

[-20, -40, 20, 40, 100]
[20, 40, 100]

In [ ]:
#another example- create a list of tuples like (number, square of the number)
new_lst = [(i,i**2) for i in range(10)]
print(new_lst)

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

ADVANCED nested list comprehension
#### A look at matrices

In [ ]:
# suppose we have a matrix
matrix = [
          [1,2,3,4],
          [5,6,7,8],
          [9,10,11,12]
]
transposed = [] #transpose of a matrix is swapping rows and coloumns
for i in range(4):
  lst = []
  for row in matrix:
    lst.append(row[i])
  transposed.append(lst)
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [ ]:
matrix = [

[1, 2, 3, 4],

[2, 3, 4, 5],

[3, 4, 5, 6]]

transposed = []

for i in range(4):

	print("we are going to take the ",i,"th element of each row")

	lst = []

	for row in matrix:

		print("the row we are considering :", row, "and we are going to add", row[i],"to a temporary list")

		lst.append(row[i])

	print("the ",i,"th column elements = ", i ,"th elements in every row are =", lst)

	transposed.append(lst)

	print("="*50)

print(transposed)

we are going to take the  0 th element of each row
the row we are considering : [1, 2, 3, 4] and we are going to add 1 to a temporary list
the row we are considering : [2, 3, 4, 5] and we are going to add 2 to a temporary list
the row we are considering : [3, 4, 5, 6] and we are going to add 3 to a temporary list
the  0 th column elements =  0 th elements in every row are = [1, 2, 3]
==================================================
we are going to take the  1 th element of each row
the row we are considering : [1, 2, 3, 4] and we are going to add 2 to a temporary list
the row we are considering : [2, 3, 4, 5] and we are going to add 3 to a temporary list
the row we are considering : [3, 4, 5, 6] and we are going to add 4 to a temporary list
the  1 th column elements =  1 th elements in every row are = [2, 3, 4]
==================================================
we are going to take the  2 th element of each row
the row we are considering : [1, 2, 3, 4] and we are going to add 3 to a temporary list
the row we are considering : [2, 3, 4, 5] and we are going to add 4 to a temporary list
the row we are considering : [3, 4, 5, 6] and we are going to add 5 to a temporary list
the  2 th column elements =  2 th elements in every row are = [3, 4, 5]
==================================================
we are going to take the  3 th element of each row
the row we are considering : [1, 2, 3, 4] and we are going to add 4 to a temporary list
the row we are considering : [2, 3, 4, 5] and we are going to add 5 to a temporary list
the row we are considering : [3, 4, 5, 6] and we are going to add 6 to a temporary list
the  3 th column elements =  3 th elements in every row are = [4, 5, 6]
==================================================
[[1, 2, 3], [2, 3, 4], [3, 4, 5], [4, 5, 6]]

In [ ]:
cntreven = 0
cntrodd = 0
for i in range(15):
  if(i%2 == 0):
    cntreven = cntreven + 1
  elif(i%2 != 0):
    cntrodd = cntrodd + 1
print("even, ",cntreven)
print("odd, ",cntrodd)

even,  8
odd,  7