# Tuples ( )


*   very similar to a list
*   main difference is that elements inside the tuple cannot be modified

In [ ]:
#empty tuple
t=()
print(t)

#tuple having integers
t=(1, 2, 3)
print(t)

#tuple with mixed datatypes
t = (1, 'cristiano', 2, 'abc', 2.5)
print(t)

#nested tuple
t = (1,(2,3,4),[1,'messi','xyz'],8.9)
print(t)

()
(1, 2, 3)
(1, 'cristiano', 2, 'abc', 2.5)
(1, (2, 3, 4), [1, 'messi', 'xyz'], 8.9)

In [ ]:
#only ( ) does not make it a tuple
t = ('victoria')
type(t)

str

In [ ]:
#need to add a comma at the end
t = ('victoria',)
type(t)

tuple

In [ ]:
#paranthesis are optional for a tuple, but need to add a ,
tu = 'victoria', # , is required at the end only when there's one element in the tuple
print(type(tu))
print(tu)

<class 'tuple'>
('victoria',)

accessing elements from tuple

In [ ]:
t = ('google','microsoft','amazon','facebook')
print(t[1]) #print second element
print(t[-1]) #print the last element element

microsoft
facebook

In [ ]:
#printing nested tuple
t = (1,(2,3,4),6,7)
print(t[1])
print(t[1][0]) # inside the nested tuple

(2, 3, 4)
2

In [ ]:
#slicing 
t = (1 ,2, 3, 4, 5, 6)
print(t[1:4]) # print from index 1 to index 4
print(t[:-2]) # print from start to second last element
print(t[1:-2:2]) # print from idex 1 to second last element, skipping 1 index
print(t[:]) # print from start to end

(2, 3, 4)
(1, 2, 3, 4)
(2, 4)
(1, 2, 3, 4, 5, 6)

Editing elements in a tuple
(unlike lists, tuples are immutable)

In [ ]:
t = (1,2,3,4,5,6)
t[2] = 0 # will get error

TypeError: ignored

In [ ]:
 # but if theres a list inside the tuple, then editing of elements inside the list is possible
 t = (1,2,3,4,[5,6,7],8,9)
 t[4][1] = 0 #change 6 to 0
 print(t)

(1, 2, 3, 4, [5, 0, 7], 8, 9)

concatenating tuples

In [ ]:
t = (1,2,3,4) + (5,6,7,8)
print(t)
#other operations
t = (('dubai ')*4)
print(t)

(1, 2, 3, 4, 5, 6, 7, 8)
dubai dubai dubai dubai

In [ ]:
#tuple deletion
t = (1,2,3,4,5)
del t
#can delete the entire tuple, however, del t[index] not possible

In [ ]:
#tuple count
t = (1,2,3,1,3,3,4,1,3,2,4,6)
print(t.count(3))
tu = ('messi', 'neymar', 'ronaldo', 'messi', ' suarez')
tu.count('messi')

4

2

In [ ]:
#Tuple index
t = (1,2,3,1,3,3,4,1,3,2,4,6)
print(t.index(3)) # returns index of the first occurence of 3
print(t.index(1))

2
0

In [ ]:
#Tuple membership
t = (1,2,3,4,5,6)
print(1 in t)

True

In [ ]:
tu = 7 not in t 
print(check)

False

Built-in functions

In [ ]:
t = (1,2,3,6,5,4)
print(len(t))
print(max(t))
print(min(t))

6
6
1